.button {
   width: 200px;
   height: 55px;
   border: none;
   color: #515769;
   background: #f3f4f5;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   transition: all 500ms;

   &:hover {
      background: #17bed2;
      color: #fff;
   }
}
