.navbar {
   display: flex;
   justify-content: flex-end;

   &__menu {
      display: inline-block;
      list-style: none;
      padding: 0;
   }

   &__item {
      position: relative;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      color: #515769;
      text-transform: uppercase;
      padding: 20px;

      a {
         text-decoration: none;
         color: #515769;

         &:after {
            position: absolute;
            left: 0px;
            content: "";
            height: 12px;
            width: 0px;
            border-bottom: solid 2px #17bed2;
            transition: all 0.2s linear;
            opacity: 1;
         }

         &:hover:after {
            width: 11px;
         }
      }
   }
}
