.use {
   margin-bottom: 60px;

   &__wrap {
      height: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   &__img {
      display: block;
      width: 80px;
      display: block;
      margin: 0px 20px;
   }
}
